In [15]:
insättning = 1000
förändringsfaktor = 1.02
år = 0

while insättning < 100000:
    insättning = insättning*förändringsfaktor + 1000
    år += 1 # Ökar med ett år

    print(f"Antal år är {år} år")

Antal år är 1 år
Antal år är 2 år
Antal år är 3 år
Antal år är 4 år
Antal år är 5 år
Antal år är 6 år
Antal år är 7 år
Antal år är 8 år
Antal år är 9 år
Antal år är 10 år
Antal år är 11 år
Antal år är 12 år
Antal år är 13 år
Antal år är 14 år
Antal år är 15 år
Antal år är 16 år
Antal år är 17 år
Antal år är 18 år
Antal år är 19 år
Antal år är 20 år
Antal år är 21 år
Antal år är 22 år
Antal år är 23 år
Antal år är 24 år
Antal år är 25 år
Antal år är 26 år
Antal år är 27 år
Antal år är 28 år
Antal år är 29 år
Antal år är 30 år
Antal år är 31 år
Antal år är 32 år
Antal år är 33 år
Antal år är 34 år
Antal år är 35 år
Antal år är 36 år
Antal år är 37 år
Antal år är 38 år
Antal år är 39 år
Antal år är 40 år
Antal år är 41 år
Antal år är 42 år
Antal år är 43 år
Antal år är 44 år
Antal år är 45 år
Antal år är 46 år
Antal år är 47 år
Antal år är 48 år
Antal år är 49 år
Antal år är 50 år
Antal år är 51 år
Antal år är 52 år
Antal år är 53 år
Antal år är 54 år
Antal år är 55 år

In [16]:
bakterier = 1.5e6 
faktor = 1.5
timmar = 0 
while bakterier < 1e7:
    bakterier = bakterier * faktor
    timmar += 1
    print(f"Det kommer ta {timmar} timmar tills mjölken blir dålig")

Det kommer ta 1 timmar tills mjölken blir dålig
Det kommer ta 2 timmar tills mjölken blir dålig
Det kommer ta 3 timmar tills mjölken blir dålig
Det kommer ta 4 timmar tills mjölken blir dålig
Det kommer ta 5 timmar tills mjölken blir dålig

In [38]:
s = 1
summa = 0
while s <=100:
    summa += s
    s += 1
print(summa)

5050

In [40]:
s = 1
summa = 0
while s <=99:
    summa += s
    s += 2
    print(summa)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500